* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Primary */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

body {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 5rem;
}

p {
  font-size: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.nav-list .list-items a {
  color: grey;
  text-decoration: none;
}
.nav-list .list-items a:hover,
.nav-list .list-items a:focus {
  color: var(--soft-red);
  outline: none;
  border: none;
}

main {
  display: grid;
  grid-template-areas:
    'popular-container popular-container popular-container aside'
    'trending-container trending-container trending-container trending-container';
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.popular-container {
  grid-area: popular-container;
  margin-top: 2rem;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
}

.popular-text-container {
  display: flex;
  gap: 3rem;
}

.popular-text-container h2 {
  font-size: 4rem;
}

.text-container {
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
}

.text-container p {
  margin-bottom: 3.1rem;
}

.text-container button {
  width: 50%;
  padding: 1rem;
  margin: 1rem 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-color: var(--soft-red);
  color: var(--off-white);
  border: none;
}

.text-container button:hover {
  cursor: pointer;
  background-color: var(--very-dark-blue);
}

.aside {
  grid-area: aside;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

.aside h3 {
  font-size: 2.5rem;
  color: var(--soft-orange);
}

.card h4:hover {
  cursor: pointer;
  color: var(--soft-orange);
}

.card {
  padding: 2rem 0px;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--off-white);
}

.card:nth-last-child(1) {
  border: none;
}

.trending-container {
  grid-area: trending-container;
}
