* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.nav-list .list-items a {
  color: grey;
  text-decoration: none;
}
.nav-list .list-items a:hover,
.nav-list .list-items a:focus {
  color: lightcoral;
  outline: none;
  border: none;
}

main {
  display: grid;
  grid-template-areas: 'popular-container popular-container popular-container aside';
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.popular-container {
  grid-area: popular-container;
  margin-top: 2rem;
}

.aside {
  grid-area: aside;
  margin-top: 2rem;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
}

.popular-text-container {
  display: flex;
  gap: 3rem;
}

.popular-text-container h2 {
  font-size: 4rem;
}
