* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Primary */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

body {
  width: 80vw;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.nav-list .list-items a {
  color: grey;
  text-decoration: none;
}

.nav-list .list-items a:hover,
.nav-list .list-items a:focus {
  color: var(--soft-red);
  outline: none;
  border: none;
}

main {
  display: grid;
  grid-template-areas:
    'popular-container popular-container aside'
    'trending-container trending-container trending-container';
  grid-template-columns: repeat(3, 0.5fr);
  gap: 2rem;
}

.popular-container {
  grid-area: popular-container;
  margin-top: 2rem;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.popular-text-container {
  display: flex;
  gap: 3rem;
}

.popular-text-container h2 {
  font-size: 4rem;
}

.text-container {
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
}

.text-container p {
  margin-bottom: 3.1rem;
}

.text-container button {
  width: 50%;
  padding: 1rem;
  margin: 1rem 0;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-color: var(--soft-red);
  color: var(--off-white);
  border: none;
}

.text-container button:hover {
  cursor: pointer;
  background-color: var(--very-dark-blue);
}

.aside {
  grid-area: aside;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

.aside h3 {
  font-size: 2.5rem;
  color: var(--soft-orange);
}

.card h4:hover {
  cursor: pointer;
  color: var(--soft-orange);
}

.card {
  padding: 2rem 0px;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--off-white);
}

.card:nth-last-child(1) {
  border: none;
}

.trending-container {
  grid-area: trending-container;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.trending-card {
  display: flex;
  align-items: center;
  width: 100%;
}

.trending-card img {
  height: 200px;
}

.trending-card .inner-card {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  margin: 0 1.2rem;
}

.inner-card h4 {
  font-size: 2rem;
  color: var(--grayish-blue);
  padding-bottom: 1rem;
}

.inner-card h5 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

/* @media screen and (max-width: 950px) {
  body {
    width: 95vw;
  }
  main {
    grid-template-areas:
      'popular-container'
      'aside'
      'trending-container';
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-text-container h2 {
    font-size: 3rem;
  }

  .nav-mobile-list {
    width: 70vw;
    background-color: var(--off-white);
    font-size: 2rem;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
  }

  .list-mobile-items {
    list-style-type: none;
    padding: 1rem;
  }
  .list-mobile-items a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
  }
  .popular-text-container {
    flex-direction: column;
  }

  .menu-icon-open {
    z-index: 99999;
    position: absolute;
    top: 3.3rem;
    right: 2rem;
    bottom: 0;
  }

  .text-container {
    line-height: 1.5rem;
    padding: 0;
  }

  .text-container p {
    margin-bottom: 0;
  }

  .trending-container {
    flex-direction: column;
    gap: 2rem;
  }
} */

@media screen and (max-width: 950px) {
  body {
    width: 95vw;
  }

  main {
    grid-template-areas:
      'popular-container'
      'aside'
      'trending-container';
    grid-template-columns: repeat(1, 1fr);
    transition: opacity 0.3s ease;
  }

  .popular-text-container h2 {
    font-size: 3rem;
  }

  .nav-mobile-list {
    width: 70vw;
    background-color: var(--off-white);
    font-size: 2rem;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10rem 1rem;
  }

  .list-mobile-items {
    list-style-type: none;
    padding: 1rem;
  }

  .list-mobile-items a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
  }

  .popular-text-container {
    flex-direction: column;
  }

  .menu-icon {
    position: absolute;
    top: 3.3rem;
    right: 2rem;
    bottom: 0;
    z-index: 999;
  }

  .menu-icon-open {
    z-index: 99999;
    position: absolute;
    top: 3.3rem;
    right: 2rem;
    bottom: 0;
  }

  .menu-icon-open .nav-mobile-list {
    transform: translateX(0%);
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* New CSS for main tag opacity */
  .main-opacity {
    opacity: 0.5;
  }

  .text-container {
    line-height: 1.5rem;
    padding: 0;
  }

  .text-container p {
    margin-bottom: 0;
  }

  .trending-container {
    flex-direction: column;
    gap: 2rem;
  }
}
